table {
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }
  
  th{
    background-color: #dddddd;
    padding: 30px;
    
  }
 thead>tr>th{
     font-size: 21px;
    }